.div1{
    position: absolute;
    width: 300px;
    height: 34px;
    background: rgb(156, 233, 195);
    bottom: 15px;
    display:inline-block;
    left: 45%;
    color: rgb(23, 235, 129);
    z-index: 9;
}

.b1{
    border: rgb(23, 235, 129);
    border-radius: 20px;
}